flows.json
[{"id":"e005ce3b.20714","type":"tab","label":"osc 3000","disabled":false,"info":""},{"id":"4358ad22.64d204","type":"tab","label":"osc 3001","disabled":false,"info":""},{"id":"d4aba0f0.1878f","type":"serial-port","z":"","serialport":"/dev/ttyS0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"\\r","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"41497e18.8bc9","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"2b8f9e46.8a0f62","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"aeb056ea.a328e8","type":"debug","z":"e005ce3b.20714","name":"","active":false,"console":"false","complete":"false","x":720,"y":200,"wires":[]},{"id":"f5d1468.c2a0ab8","type":"inject","z":"e005ce3b.20714","name":"","topic":"","payload":"8","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":160,"y":550,"wires":[["9205a21e.d46de"]]},{"id":"e170fc81.5a6cf","type":"inject","z":"e005ce3b.20714","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":160,"y":150,"wires":[["9205a21e.d46de"]]},{"id":"c090e25d.ba6a4","type":"inject","z":"e005ce3b.20714","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":160,"y":200,"wires":[["9205a21e.d46de"]]},{"id":"3037c624.7f58aa","type":"inject","z":"e005ce3b.20714","name":"","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":160,"y":250,"wires":[["9205a21e.d46de"]]},{"id":"7990d912.f57988","type":"inject","z":"e005ce3b.20714","name":"","topic":"","payload":"3","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":160,"y":300,"wires":[["9205a21e.d46de"]]},{"id":"27dd12dd.cc752e","type":"inject","z":"e005ce3b.20714","name":"","topic":"","payload":"4","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":160,"y":350,"wires":[["9205a21e.d46de"]]},{"id":"396a52cf.1601fe","type":"inject","z":"e005ce3b.20714","name":"","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":160,"y":400,"wires":[["9205a21e.d46de"]]},{"id":"febf8bc0.12c978","type":"inject","z":"e005ce3b.20714","name":"","topic":"","payload":"6","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":160,"y":450,"wires":[["9205a21e.d46de"]]},{"id":"278c8fc1.8adda","type":"inject","z":"e005ce3b.20714","name":"","topic":"","payload":"9","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":160,"y":600,"wires":[["9205a21e.d46de"]]},{"id":"bdb7ecc9.4b50c","type":"inject","z":"e005ce3b.20714","name":"","topic":"","payload":"7","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":160,"y":500,"wires":[["9205a21e.d46de"]]},{"id":"820a2c30.dff9e","type":"inject","z":"e005ce3b.20714","name":"","topic":"","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":160,"y":650,"wires":[["9205a21e.d46de"]]},{"id":"b6975d12.9e6cc","type":"inject","z":"e005ce3b.20714","name":"","topic":"","payload":"11","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":160,"y":700,"wires":[["9205a21e.d46de"]]},{"id":"6efd10b5.51fad","type":"inject","z":"e005ce3b.20714","name":"","topic":"","payload":"12","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":160,"y":750,"wires":[["9205a21e.d46de"]]},{"id":"e02f1870.aa44d8","type":"inject","z":"e005ce3b.20714","name":"","topic":"","payload":"13","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":160,"y":800,"wires":[["9205a21e.d46de"]]},{"id":"69134bd0.18f564","type":"udp out","z":"e005ce3b.20714","name":"","addr":"localhost","iface":"","port":"3000","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":740,"y":150,"wires":[]},{"id":"11ab4d32.1d08c3","type":"inject","z":"e005ce3b.20714","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":60,"wires":[["be664e7.b0d61b"]]},{"id":"be664e7.b0d61b","type":"random","z":"e005ce3b.20714","name":"","low":"1","high":"14","inte":"true","property":"payload","x":370,"y":60,"wires":[["9205a21e.d46de"]]},{"id":"77e010db.e2884","type":"serial in","z":"e005ce3b.20714","name":"","serial":"d4aba0f0.1878f","x":150,"y":100,"wires":[["373660db.c39fd"]]},{"id":"33342a9f.318d46","type":"debug","z":"e005ce3b.20714","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":580,"y":100,"wires":[]},{"id":"c9c5811a.596cf","type":"function","z":"e005ce3b.20714","name":"","func":"let v=msg.payload.readUInt8(0);\nmsg.payload= parseInt(v,10);\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":100,"wires":[["33342a9f.318d46"]]},{"id":"ae9d95e5.860e68","type":"debug","z":"4358ad22.64d204","name":"","active":true,"console":"false","complete":"false","x":470,"y":100,"wires":[]},{"id":"d1fe15d5.71e4b8","type":"inject","z":"4358ad22.64d204","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":110,"y":60,"wires":[["95c26cde.d1b1b"]]},{"id":"f4ec7717.2aa4c8","type":"inject","z":"4358ad22.64d204","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":110,"wires":[["95c26cde.d1b1b"]]},{"id":"40e05acc.a37514","type":"inject","z":"4358ad22.64d204","name":"","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":160,"wires":[["95c26cde.d1b1b"]]},{"id":"ad712c33.4d46c","type":"inject","z":"4358ad22.64d204","name":"","topic":"","payload":"3","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":210,"wires":[["95c26cde.d1b1b"]]},{"id":"d9579269.b3cd5","type":"udp out","z":"4358ad22.64d204","name":"","addr":"localhost","iface":"","port":"3001","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":490,"y":60,"wires":[]},{"id":"9205a21e.d46de","type":"osc","z":"e005ce3b.20714","name":"","path":"","metadata":false,"x":560,"y":150,"wires":[["69134bd0.18f564","aeb056ea.a328e8"]]},{"id":"95c26cde.d1b1b","type":"osc","z":"4358ad22.64d204","name":"","path":"/pd","metadata":false,"x":280,"y":60,"wires":[["d9579269.b3cd5","ae9d95e5.860e68"]]},{"id":"373660db.c39fd","type":"csv","z":"e005ce3b.20714","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"x":530,"y":300,"wires":[["3adff6b8.cd298a"]]},{"id":"2a9b7983.5b8bc6","type":"debug","z":"e005ce3b.20714","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":300,"wires":[]},{"id":"8e2ba2f8.4aaf9","type":"debug","z":"e005ce3b.20714","name":"","active":true,"console":"false","complete":"false","x":870,"y":340,"wires":[]},{"id":"3adff6b8.cd298a","type":"function","z":"e005ce3b.20714","name":"","func":"let data = msg.payload;\nlet array = [0,0,0,0,0,0,0,0,0,0,0,0,0];\n\nmsg.topic = \"/pd\";\n\narray[0]=data.col1;\narray[1]=data.col2;\narray[2]=data.col3;\narray[3]=data.col4;\narray[4]=data.col5;\narray[5]=data.col6;\narray[6]=data.col7;\narray[7]=data.col8;\narray[8]=data.col9;\narray[9]=data.col10;\narray[10]=data.col11;\narray[11]=data.col12;\narray[12]=data.col13;\n\nmsg.payload = array;\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":300,"wires":[["8e2ba2f8.4aaf9","9205a21e.d46de"]]}]